.upload {
  position: absolute;
  top: 33.15%;
  left: 35.36%;
}
.download,
.upload1 {
  position: absolute;
  top: 66.67%;
  left: 35.42%;
}
.download {
  top: 72.69%;
  left: 34.74%;
}
.desktop1Child,
.funding1Icon {
  position: absolute;
  height: 58.8%;
  top: 22.22%;
  bottom: 18.98%;
}

.funding1Icon {
  width: 48.39%;
  right: 45.52%;
  left: 6.09%;
  border-radius: var(--br-59xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.desktop1Child {
  width: 35.98%;
  right: 5.31%;
  left: 57.71%;
  margin-top: 15px;
  border-radius: var(--br-31xl);
  background-color: var(--color-black);
}
.simulateCardsPl,
.uploadInputFile {
  position: absolute;
  top: 29.44%;
  left: 67.55%;
  font-size: var(--font-size-17xl);
}

.uploadInputFile {
  text-align: center;
  top: 45.56%;
  left: 71.09%;
  font-size: var(--font-size-5xl);
}

.desktop1Item {
  position: absolute;
  height: 4.63%;
  width: 10.42%;
  top: 51.67%;
  right: 18.49%;
  bottom: 43.7%;
  left: 71.09%;
  border-radius: var(--br-xl);
  background-color: var(--color-silver);
}

.financialSimulation{
  position: absolute;
  top: 52.31%;
  left: 74.17%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.financialSimulation {
  top: 4.35%;
  left: 32.71%;
  font-size: var(--font-size-45xl);
}
.desktop1Inner,
.next {
  position: absolute;
  cursor: pointer;
}

.desktop1Inner {
  height: 4.63%;
  width: 10.42%;
  top: 87.69%;
  right: 44.79%;
  bottom: 7.69%;
  left: 44.79%;
  border-radius: var(--br-xl);
  background-color: var(--color-silver);
}
.next {
  top: 88.43%;
  left: 48.59%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.desktop1 {
  /* position: fixed; */
  top: -90px;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-secular-one);
}

.downloadButton{
  position: absolute;
  top: 67%;
  left: 71%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  cursor: pointer;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #000;
  background: #21dd21;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.calculateButton{ 
  position: absolute;
  top: 60%;
  left: 72.5%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  cursor: pointer;
  width: 142px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #000;
  background: #6AEDFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.calculateButton:hover{
  background-color: #6AEDFF;
}

.uploadButton {
  position: absolute;
  top: 52.31%;
  left: 74.17%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .uploadInputFile {
    font-size: 20px;
  }
  .downloadButton {
    display: block;
  }
}

@media (max-width: 480px) {
  .uploadInputFile {
    font-size: 18px;
  }

  .downloadButton {
    display: block;
  }

}
