table {
  width: 100%;
  border-collapse: collapse;
}

thead{
  background-color: #f15e5e;
}

th, td {
  border: 1px solid #020000;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #e0e0e0;
}

input[type="number"] {
  width: 80px;
  padding: 5px;
  border: 2px solid #000000;
  border-radius: 5px;
  text-align: center;
}

/* Style the table header and cells */
th {
  background-color: #f15e5e;
  font-weight: bold;
}

/* Style the table rows alternately for better readability */
tr:nth-child(even) {
  background-color: #e0e0e0;
}

.execute {
  position: absolute;
  top: 80%;
  left: 10%;
  align-items: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  cursor: pointer;
  width: 142px;
  height: 40px;
  border-radius: 20px;
  background: #63bfdb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.execute:hover {
  background-color: #63bfdb;
}

.download {
  position: absolute;
  top: 80%;
  left: 32%;
  align-items: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  cursor: pointer;
  width: 142px;
  height: 40px;
  border-radius: 20px;
  background: #8eff94;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.download:hover {
  background-color: #8eff94;
}

.container {
  position: fixed;
  width: 100%; /* Take up the entire width of the left column */
  text-align: center;
  background-color: #ffffff; /* Background color for the container */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow for separation */
}

h1,
#simulate {
  text-align: center;
  font-size: var(--font-size-17xl);
  font-family: var(--font-secular-one);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left_panel {
  display: grid;
  width: 50%;
  height: 1vh; /* 100% of viewport height */
  margin: 0;
  float: left;
  padding: 0;
} 

.right_panel{
  top: 0%;
  float: right;
  width: 50%;
  top: -50px;
}

.percent{
  display: flex;
  flex-direction: row;
}




